@model AssignmentCheck.Models.AdminViewModel

@{
    ViewBag.Title = "BA 272 Assignment Checker";
}
<div class="page-header">
    <h1>
        Welcome to the BA 272 Assignment Checker!
    </h1>
</div>

<div class="dropdown">
    @Html.DropDownList("Results Filter", new SelectList(new List<string>(){"Show Invalid Results Only", "Show All Results" }, new { onchange = "filter()" }))
</div>

<div class="list-group" id="results">
    @foreach (var result in Model.Results)
    {
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                @Html.DisplayFor(m => result.Item1)
            </h4>
        </div>
        @Html.DisplayFor(m => result.Item2)
    }
</div>
