@model AssignmentCheck.Models.AssignmentResultsViewModel
@{
    ViewBag.Title = "BA 272 Assignment Checker";
    ViewBag.Area = "Home";
}
<div class="page-header">
    <h1>
        Welcome to the BA 272 Assignment Checker!
        <small>Assignments for @Html.DisplayFor(m => m.UserName)</small>
    </h1>
</div>
<div class="list-group">
    @foreach (var result in Model.Results)
    {
        @Html.DisplayFor(m => result)
    }
</div>