<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssignmentCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
  <applicationSettings>
    <AssignmentCheck.Properties.Settings>
      <setting name="RootPath" serializeAs="String">
        <value>e:\users</value>
      </setting>
      <setting name="Assignments" serializeAs="Xml">
        <value>
          <ArrayOfAssignment xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Assignment>
              <Title>Programing Assignment #1</Title>
              <Criteria>
                <Criterion xsi:type="DirectoryExistsCriterion">
                  <Description>Does the 'Assignment_1\Code' folder exist?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                </Criterion>
                <Criterion xsi:type="CountDirectoryCriterion">
                  <Description>Is there one solution folder in your 'Assignment_1\Code' folder?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                  <Count>1</Count>
                </Criterion>
                <Criterion xsi:type="FileExistsCriterion">
                  <Description>Is there a '*.sln' solution file in your solution folder in your 'Assignment_1\Code' folder?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                  <Depth>1</Depth>
                  <FileNamePattern>*.sln</FileNamePattern>
                </Criterion>
                <Criterion xsi:type="FileExistsCriterion">
                  <Description>Is there a '*.txt' or '*.docx' test file in your solution folder in your 'Assignment_1\Code' folder?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                  <Depth>1</Depth>
                  <FileNamePattern>*.txt,*.docx</FileNamePattern>
                </Criterion>
                <Criterion xsi:type="FileExistsCriterion">
                  <Description>Is there a '*.cs' code file in your project folder under your solution folder in the 'Assignment_1\Code' folder?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                  <Depth>2</Depth>
                  <FileNamePattern>*.cs</FileNamePattern>
                </Criterion>
                <Criterion xsi:type="FileExistsCriterion">
                  <Description>Is there a '*.csproj' project file in your project folder under your solution folder in the 'Assignment_1\Code' folder?</Description>
                  <SubPath>Assignment_1\Code</SubPath>
                  <Depth>2</Depth>
                  <FileNamePattern>*.csproj</FileNamePattern>
                </Criterion>
              </Criteria>
            </Assignment>
          </ArrayOfAssignment>
        </value>
      </setting>
    </AssignmentCheck.Properties.Settings>
  </applicationSettings>

  <location path="Home/Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="dotne"/>
      </authorization>
    </system.web>
  </location>
</configuration>